@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Love+Ya+Like+A+Sister&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Love Ya Like A Sister", cursive;
     background-image: url('../img/hip-square.jpg');
     background-repeat: repeat;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    /* background-color: aliceblue; */
    font-size: 2em;
    justify-content: center;
    color: rgb(8, 8, 116);
    /* gap: 1em; */
    /* margin: 1em; */
}

input {
    border: 1px solid rgb(5, 5, 83);
    font-size: 1.1em;
    border-radius: 5px;
    width: 200px;
    font-family: "Love Ya Like A Sister", cursive;
    padding: 0.5em;
    color: rgb(8, 8, 116);
}

button {
    width: 70px;
    height: 50px;
    font-size: 1em;
    border-radius: 5px;
    padding: 0.5em;
    border: 0;
    color: rgb(8, 8, 116);
    font-family: "Love Ya Like A Sister", cursive;
    background-image: url('../img/start.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s ;
    /* text-transform: uppercase; */
}

button:hover {
    transform: scale(1.1)
}

main {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1em;
    transition: 0.5s;
}

.player1Name {
    margin-bottom: 0.8em;
}

.leftBoard, .rightBoard {
    display: flex;
    flex-direction: column;
    /* gap: 0.3em */
 
}


.player2Name {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    color: rgb(8, 8, 116);
}

.player2Name img {
    display: block;
    width: 90px;
    padding-right: 1em;
}


.playerBoard{
    max-width: 700px;
    position: relative;
    /* border: 2px solid rgb(7, 7, 73); */
    box-shadow: 0 0 5px rgb(125, 125, 125);
}

.playerBoard > div {
    display: flex;
    width: 100%;
}

.playerBoard > div div {
    width: 55px;
    height: 55px;
    /* background-color: blue; */
    border: 1px solid rgba(22, 117, 185, 0.905);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
}

.disabled {
    pointer-events: none;
    /* opacity: 0.5; */
}

.empty {
    /* background-image: url('../img/empty.jpg'); */
    background-color: rgb(255, 255, 255);
    background-size: contain;
    opacity: 1;
}

.miss {
    background-image: url('../img/miss.jpg');
    background-size: contain;
    opacity: 1;
}

.hit {
    background-image: url('../img/hit.jpg');
    background-size: contain;
    opacity: 1;
    z-index: 999;
    opacity: 0.8;
}
 

#player1Board {
    position: relative;
}

.ship {
    background-size: cover;
    position: absolute;
    z-index: 10;
    border: 1px solid rgba(22, 117, 185, 0.905);
}

.submarine {
    background-image: url('../img/submarine.jpg');
}
.crusader1, .crusader2 {
    background-image: url('../img/crusader1.jpg');
}
.mine1, .mine2 {
    background-image: url('../img/mine.jpg');
}
.linkor {
    background-image: url('../img/linkor.jpg');
}

.rotate90 {
    transform: rotate(-90deg);
    transform-origin: top left;
}

.rotate180 {
    transform: rotate(-180deg);
    transform-origin: top left;
}

.gameover {
    color: red;
}