@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Love+Ya+Like+A+Sister&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Love Ya Like A Sister", cursive;
    background-image: url('../img/hip-square.jpg');
    background-repeat: repeat;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 2em;
    justify-content: center;
    color: rgb(8, 8, 116);
}

input {
    border: 1px solid rgb(5, 5, 83);
    font-size: 1.1em;
    border-radius: 5px;
    width: 200px;
    font-family: "Love Ya Like A Sister", cursive;
    padding: 0.5em;
    color: rgb(8, 8, 116);
}

button {
    width: 70px;
    height: 50px;
    font-size: 1em;
    border-radius: 5px;
    padding: 0.5em;
    border: 0;
    color: rgb(8, 8, 116);
    font-family: "Love Ya Like A Sister", cursive;
    background-image: url('../img/start.png');
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s ;
}

button:hover {
    transform: scale(1.1)
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3em;
    transition: 0.5s;
}

.player1Name {
    margin-bottom: 0.8em;
}

.leftBoard, .rightBoard {
    display: flex;
    flex-direction: column;
}


.player2Name {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    color: rgb(8, 8, 116);
}

.player2Name img {
    display: block;
    width: 90px;
    padding-right: 1em;
}


.playerBoard{
    max-width: 700px;
    position: relative;
    box-shadow: 0 0 5px rgb(125, 125, 125);
}

.playerBoard > div {
    display: flex;
    width: 100%;
    transition: 0.5s;
}

.playerBoard > div div {
    width: 55px;
    height: 55px;
    border: 1px solid rgba(22, 117, 185, 0.905);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    transition: 0.5s;
}

#player2Board > div div:hover {
    background-image: url('../img/target.png');
}

.disabled {
    pointer-events: none;
}

.empty {
    /* background-image: url('../img/empty.jpg'); */
    background-color: rgb(255, 255, 255);
    background-size: contain;
    opacity: 1;
}

.miss {
    background-image: url('../img/miss.png');
    background-size: contain;
    opacity: 1;
    pointer-events: none;
}

.hit {
    background-image: url('../img/hit.jpg');
    background-size: contain;
    opacity: 1;
    z-index: 999;
    opacity: 0.8    ;
    pointer-events: none;
}

#player1Board {
    position: relative;
}

.ship {
    background-size: cover;
    position: absolute;
    z-index: 10;
    border: 1px solid rgba(22, 117, 185, 0.905);
}

.submarine {
    background-image: url('../img/submarine.png');
}
.crusader1, .crusader2 {
    background-image: url('../img/crusader1.png');
}
.mine1, .mine2 {
    background-image: url('../img/mine.png');
}
.linkor {
    background-image: url('../img/linkor.png');
}

.rotate90 {
    transform: rotate(-90deg);
    transform-origin: top left;
}

.rotate180 {
    transform: rotate(-180deg);
    transform-origin: top left;
}

.gameover {
    color: red;
}

.result {
    position: absolute;
    right: 0;
    bottom: 0;
}

.result img {
    display: block;
    width: 190px;
}


.result2 {
    position: absolute;
    left: 0;
    bottom: 0;
}
.result2 img {
    display: block;
    width: 300px;
}

.result3 {
    position: absolute;
    right: 0;
    bottom: 60%;
}
.result3 img {
    display: block;
    width: 200px;
}

.result4 {
    position: absolute;
    left: 0;
    bottom: 50%;
}
.result4 img {
    display: block;
    width: 200px;
}